*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    background-color: aquamarine;
    height: 100vh;
    padding: 5%;
    overflow: hidden;
    
}

.hero{
    height: 100%;
    width: auto;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 20px;
    overflow: hidden;
}

header{
    height: 50px;
    background-color: rgba(0, 0, 0, .2);
    border-bottom: 1px solid white;

}
.one{
    height: 100%;
}

.bdl{
    border-right: 1px solid white;
    /* height: 100%; */
}

.content{
    padding-top:20px ;
}

.content span{
    display: inline-block;
    height: 8px;
    width: 8px;
    padding: 8px;
    border-radius: 50%;
}

.dot-1{
    background-color: red;
}
.dot-2{
    background-color: orange ;
}

.dot-3{
    background-color: green;
}

/* line span desing */

.line-span{
    display: block;
    height: 45%;
    width: 1px;
    background-color: wheat;

}
.line-span-1{
    display: inline-block;
    height: 45%;
    width: 1px;
    background-color: white;

}